.center{
	width: 800px;
	margin: 100px auto;
}
.headline{
	margin: 0 0 10px 0;
	color: #00d8ff;
	text-align: center;
	font-size: 35px;
}
.child:first-child{
	width: 40%;
	height: 20px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.child:last-child{
	width: 60%;
	display: inline-block;
	box-sizing: border-box;
}
.href{
	text-decoration: none;
	color: black;
	text-align: center;
	display: block;
}
.href:hover{
	text-decoration: underline;
}
.left{
	width: 75%;
	display: inline-block;
}
.exit{
	text-align: center;
	font-size:20px;
}
.exit:hover{
	text-decoration:underline
}