.follow{
	border:1px solid rgba(27,31,35,0.2);
    background-color:#eff3f6;
	display:inline-block;
	width: 100px;
	border-radius: 5px;
	background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%)
}
.follow:hover{
	cursor: pointer;
	background-color: #24292e;
	background-image: linear-gradient(-180deg, #eff3f6 0%, #ccc 90%)

}
.user{
	display: inline-block;
	padding: 0 15px;
}
.followli{
    list-style-type: none;
    line-height: 30px;
    text-align: center;
    margin: 10px 0;
    position: relative;
}
.followhead{
	color: #00d8ff;
	font-size: 20px;
	text-align: center;
}